# Ćwiczenie 1: Interakcja z powłoką Pythona przy użyciu IPythona

Polecenia
Rozpoczęcie pracy z powłoką Pythona jest proste. Wykonajmy następujące kroki, aby wejść w interakcję
powłoka IPythona:
1. Aby uruchomić powłokę Pythona, wpisz w konsoli polecenie ipython:
> ipythona

In [2]:
> ipythona

SyntaxError: invalid syntax (2541842817.py, line 1)

Wskazówka: Możesz użyć „ctrl-o”, aby dodać dodatkowe linie w pojedynczej komórce Ipythona.
Powłoka IPython jest teraz gotowa i czeka na dalsze polecenia. Najpierw wykonajmy proste ćwiczenie
rozwiązać problem sortowania za pomocą jednej z podstawowych metod sortowania, zwanej prostym wstawianiem.

2. W powłoce IPython skopiuj i wklej następujący kod:

In [4]:
import numpy as np
vec = np.random.randint(0, 100, size=5)
print(vec)

[ 5 66 62 30 53]

Teraz wynik losowo wygenerowanych liczb będzie podobny do następującego:
[23, 66, 12, 54, 98, 3]

3. Użyj poniższej logiki, aby wydrukować elementy tablicy vec w kolejności rosnącej:
dla j w np.arange(1, vec.size):


[3, 12, 23, 54, 66, 98]

In [9]:
for j in np.arange(1, vec.size):
v = vec[j]
i = j
while i > 0 and vec[i-1] > v:
vec[i] = vec[i-1]
i = i - 1
vec[i] = v

IndentationError: expected an indented block after 'for' statement on line 1 (3637368492.py, line 2)

Użyj polecenia print(vec), aby wydrukować dane wyjściowe na konsoli:

In [ ]:
print(vec)

4. Teraz zmodyfikuj kod. Zamiast tworzyć tablicę składającą się z 5 elementów, zmień jej parametry tak, aby była
tworzy tablicę z 20 elementami, używając strzałki w górę do edycji wklejonego kodu. Po zmianie
odpowiedniej sekcji, użyj strzałki w dół, aby przejść na koniec kodu i naciśnij Enter, aby go wykonać.

# Activity 1: IPython i Jupyter

Zademonstrujmy powszechny rozwój języka Python w IPython i Jupyter. Zaimportujemy NumPy,
zdefiniuj funkcję i iteruj wyniki.

1. Aby zaimportować NumPy, użyj:

In [ ]:
import numpy as np

2. Utwórz funkcję kwadratPlus(x,c), która obliczy wartość: y=x^2+c

In [11]:
def squarePlus(x,c):
    y=x**x+c
    return y

3. Uruchom swój kod w IPythonie i Jupyterze

In [12]:
squarePlus(2,1)

5

# Ćwiczenie 3: Odczyt danych za pomocą Pandas

Jak analityk może rozpocząć analizę danych bez danych? Musimy się nauczyć, jak uzyskać dane z pliku źródło internetowe do naszego notatnika, abyśmy mogli rozpocząć analizę. Pokażmy, jak pandy może odczytać dane CSV ze źródła internetowego, abyśmy mogli je przeanalizować:

1. Importuj bibliotekę Pandas

In [1]:
import pandas as pd

2. Wczytsj zbiór danych o przebiegu samochodu: imports-85.data. Przekonwertuj go na CSV. Aby odczytać plik CSV musimy skorzystać z funkcji read_csv(). Odczytuje plik i zwraca ramkę
Pandas jako DataFrame.

In [2]:
df = pd.read_csv("imports-85.csv")

4. Użyj funkcji read_csv z Pandas i pokaż pierwsze wiersze wywołujące metodę head na DataFrame:

In [3]:
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250