# Excercise 45: Performing Data Reproducibility

## Create Model Dataset
### Introduction:
This notebook extracts bank marketing data from the UCI Machine Learning Repository. The objective is to build a classification model to predict the subscriptions. The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

**Business Problem:** How to build a classification model to predict the customers who are ewpected to subscribe a term deposit (variable y).

In [3]:
import numpy as np
import pandas as pd
import time
import re
import os
#import pandas_profiling

In [4]:
df = pd.read_csv('/workspaces/DataCamp---Data-Scientist-with-Python/09 Analiza dużych zbiorów danych I/bank.csv', sep=';')

In [5]:
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Data Dictionary
Provides detailed attribute level information:

1 - age (numeric)

2 - job: type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student;, 'technician', 'unemployed', 'unknow')

3 - marital: marital status (categorical: 'divorced', 'married', 'single', 'unknow': note: 'divorced neans divorced or widowed)

4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknow')

5 - default: has credit in default? (categorical: 'no','yes','unknow')

6 - housing: has housing loan? (categorical: 'no','yes','unknow')

### Data Understanding
To understand the data at a attribute level, we can ues functions like info and describe, however, pandas_profiling is a library that provides many descriptive information in one function where we can extract the following information:

At dataset level:
<ol>
<li>Number of variables</li>
<li>Number of observations</li>
<li>Total Missing (%)</li>
<li>Total size in memory</li>
<li>Averange record size in memory</li>
<li>Correlation Matrix</li>
<li>Sample Data</li>
</ol>

In [ ]:
pandas_profiling.ProfileReport(df)