# Activity 1: IPython i Jupyter

Zademonstrujmy powszechny rozwój języka Python w IPython i Jupyter. Zaimportujemy NumPy,
zdefiniuj funkcję i iteruj wyniki.

1. Aby zaimportować NumPy, użyj:

In [5]:
import numpy as np

2. Utwórz funkcję kwadratPlus(x,c), która obliczy wartość: y=x^2+c

In [15]:
def squarePlus(x,c):
    y = x^2 + c
    return y

3. Uruchom swój kod w IPythonie i Jupyterze

In [18]:
squarePlus(2,1)

1

# Activity 2: Praca z problemami z danymi

Przed rozpoczęciem analizy musimy sprawdzić, czy nie występują problemy z danymi, a kiedy je znajdziemy (co jest bardzo powszechne!), musimy rozwiązać problemy, przekształcając ramkę DataFrame. Można to zrobić w jeden sposób oznacza to na przykład zastosowanie funkcji do kolumny lub całej ramki DataFrame. Jest to powszechne niektóre liczby w ramce danych po jej odczytaniu nie są poprawnie konwertowane na liczby zmiennoprzecinkowe liczby. Rozwiążmy ten problem, stosując funkcje:

1. Zaimportuj Pandas i bibliotekę numpy.

In [13]:
import pandas as pd
import numpy as np

2. Przeczytaj zbiór danych RadNet udostępniony przez Agencję Ochrony Środowiska Stanów Zjednoczonych.

In [6]:
df = pd.read_csv('RadNet_Laboratory_Analysis.csv')
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.088,Non-detect,Non-detect,NaN,NaN,Non-detect
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.055,Non-detect,Non-detect,NaN,NaN,Non-detect
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.0057,NaN,0.0074,0.067,Non-detect,Non-detect,NaN,NaN,0.0043
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.096,Non-detect,Non-detect,NaN,NaN,Non-detect
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.22,Non-detect,Non-detect,NaN,NaN,Non-detect

3. Utwórz listę z kolumnami numerycznymi dla radionuklidów w zbiorze danych RadNet.

In [8]:
df.dtypes

State             object
Location          object
Date Posted       object
Date Collected    object
Sample Type       object
Unit              object
Ba-140            object
Co-60             object
Cs-134            object
Cs-136            object
Cs-137            object
I-131             object
I-132             object
I-133             object
Te-129            object
Te-129m           object
Te-132            object
dtype: object

In [10]:
columns = df.columns
id_cols = ['State', 'Location', 'Date Posted', 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns)-set(id_cols))
columns

['I-131',
 'Cs-136',
 'Cs-137',
 'Co-60',
 'Cs-134',
 'Te-129m',
 'I-133',
 'Te-132',
 'Te-129',
 'I-132',
 'Ba-140']

4. Użyj metody Apply w jednej kolumnie z funkcją lambda, która porównuje wartość Brak wykrycia
strunowy

In [11]:
# lambda
func = lambda x: x**2 if x>10 else x
func(29)

841

In [16]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if ((x=='Non-detect') | (x=='ND')) else x)
df['Cs-134'].head()

0       NaN
1       NaN
2    0.0057
3       NaN
4       NaN
Name: Cs-134, dtype: object

5. Użyj metody Applymap, aby zamienić wartości tekstowe „Non-detect” na .np.nan we wszystkich numerach
kolumn na raz, zrób to samo z wartością „ND”.

In [19]:
df.loc[:,columns] = df.loc[:,columns].applymap(lambda x: np.nan if ((x=='Non-detect') | (x=='ND')) else x)
df.loc[:,columns].head()

/tmp/ipykernel_1732/1917651076.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[:,columns] = df.loc[:,columns].applymap(lambda x: np.nan if ((x=='Non-detect') | (x=='ND')) else x)

,I-131,Cs-136,Cs-137,Co-60,Cs-134,Te-129m,I-133,Te-132,Te-129,I-132,Ba-140
0,0.088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.067,NaN,0.0074,NaN,0.0057,NaN,NaN,0.0043,NaN,NaN,NaN
3,0.096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6. Użyj tej samej metody Applymap, aby usunąć wszystkie spacje (od początku i końca) we wszystkich pozostałych
kolumny (nienumeryczne). Użyj metody strip(), aby usunąć spacje.

In [18]:
df.loc[:,id_cols] = df.loc[:,id_cols].applymap(lambda x: x.strip())
df.loc[:,id_cols].head()

/tmp/ipykernel_1732/1467891455.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[:,id_cols] = df.loc[:,id_cols].applymap(lambda x : x.strip())

  State Location Date Posted Date Collected Sample Type    Unit
0    ID    Boise  03/30/2011     03/23/2011  Air Filter  pCi/m3
1    ID    Boise  03/30/2011     03/23/2011  Air Filter  pCi/m3
2    AK   Juneau  03/30/2011     03/23/2011  Air Filter  pCi/m3
3    AK     Nome  03/30/2011     03/22/2011  Air Filter  pCi/m3
4    AK     Nome  03/30/2011     03/23/2011  Air Filter  pCi/m3

Dodatkowo:
7. Zmień typy danych kolumn za pomocą metod (użyj df.dtypes() do sprawdzenia typów danych):

pd.to_datetime()
pd.to_numeric()

In [21]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])
for col in columns:
    df[col] = pd.to_numeric(df[col])
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

In [22]:
df

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
0,ID,Boise,2011-03-30,2011-03-23,Air Filter,pCi/m3,NaN,NaN,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN
1,ID,Boise,2011-03-30,2011-03-23,Air Filter,pCi/m3,NaN,NaN,NaN,NaN,NaN,0.055,NaN,NaN,NaN,NaN,NaN
2,AK,Juneau,2011-03-30,2011-03-23,Air Filter,pCi/m3,NaN,NaN,0.0057,NaN,0.0074,0.067,NaN,NaN,NaN,NaN,0.0043
3,AK,Nome,2011-03-30,2011-03-22,Air Filter,pCi/m3,NaN,NaN,NaN,NaN,NaN,0.096,NaN,NaN,NaN,NaN,NaN
4,AK,Nome,2011-03-30,2011-03-23,Air Filter,pCi/m3,NaN,NaN,NaN,NaN,NaN,0.220,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,CA,Richmond,2011-04-25,2011-04-14,Precipitation,pCi/l,NaN,NaN,8.9000,NaN,7.9000,5.900,NaN,NaN,NaN,NaN,NaN
602,CA,Richmond,2011-05-24,2011-04-28,Precipitation,pCi/l,NaN,NaN,6.6000,NaN,5.8000,NaN,NaN,NaN,NaN,NaN,NaN
603,UT,Salt Lake City,2011-05-24,2011-04-14,Precipitation,pCi/l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,UT,Salt Lake City,2011-05-24,2011-04-28,Precipitation,pCi/l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,NY,Yaphank,2011-05-24,2011-04-28,Precipitation,pCi/l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN