# Ćwiczenie 1: Interakcja z powłoką Pythona przy użyciu IPythona - Polecenia

Rozpoczęcie pracy z powłoką Pythona jest proste. Wykonajmy następujące kroki, aby wejść w interakcję
z powłoka IPythona:

1. Aby uruchomić powłokę Pythona, wpisz w konsoli polecenie ipython:
> ipython
In [1]:

Wskazówka: Możesz użyć „ctrl-o”, aby dodać dodatkowe linie w pojedynczej komórce Ipythona.
Powłoka IPython jest teraz gotowa i czeka na dalsze polecenia. Najpierw wykonajmy proste ćwiczenie
rozwiązać problem sortowania za pomocą jednej z podstawowych metod sortowania, zwanej prostym wstawianiem.

2. W powłoce IPython skopiuj i wklej następujący kod:

In [1]:
import numpy as np
vec = np.random.randint(0, 100, size=5)
print(vec)

[13 99 93 98 27]

Now, the output for the randomly generated numbers will be similar to the following:
[23, 66, 12, 54, 98, 3]

3. Użyj poniższej logiki, aby wypisać elementy tablicy vec w kolejności rosnącej:

In [2]:
for j in np.arange(1, vec.size):
    v = vec[j]
    i = j
    while i > 0 and vec[i-1] > v:
        vec[i] = vec[i-1]
        i = i - 1
    vec[i] = v

print(vec)

[13 27 93 98 99]

Użyj polecenia print(vec), aby wydrukować wynik na konsoli

4. Teraz zmodyfikuj kod. Zamiast tworzyć tablicę składającą się z 5 elementów, zmień jej parametry tak, aby była tworzy tablicę z 20 elementami, używając strzałki w górę do edycji wklejonego kodu. Po zmianie odpowiedniej sekcji, użyj strzałki w dół, aby przejść na koniec kodu i naciśnij Enter, aby go wykonać.

In [3]:
import numpy as np
vec1 = np.random.randint(0, 100, size=20)
print(vec1)

[36 79 39 28 79 56 63 97 45 70 97 56 33 24 67 84 97 27 74 60]

In [4]:
for j in np.arange(1, vec1.size):
    v = vec1[j]
    i = j
    while i > 0 and vec1[i-1] > v:
        vec1[i] = vec1[i-1]
        i = i-1
    vec1[i] = v
print(vec1)

[24 27 28 33 36 39 45 56 56 60 63 67 70 74 79 79 84 97 97 97]

# Ćwiczenie 2: Pierwsze kroki z notatnikiem Jupyter

Wykonajmy następujące kroki, aby zademonstrować, jak rozpocząć wykonywanie prostych programów w pliku Notatnik Jupytera. Praca z notatnikiem Jupyter po raz pierwszy może być nieco myląca, ale
spróbujmy poznać jego interfejs i funkcjonalność.

Teraz uruchom serwer notatników Jupyter i pracuj nad nim, wykonując następujące kroki:
1. Aby uruchomić serwer notebooków Jupyter, uruchom na konsoli następującą komendę:
> notatnik jupytera

2. Po pomyślnym uruchomieniu lub zainstalowaniu Jupytera otwórz okno przeglądarki i
przejdź do http://localhost:8888, aby uzyskać dostęp do notesu

3. Powinieneś zobaczyć notatnik podobny do tego pokazanego na poniższym zrzucie ekranu:

![title](1.png)

4. Następnie w prawym górnym rogu kliknij Nowy i wybierz z listy Python 3

![title1](2.png)

6. Teraz w nowo wygenerowanej komórce dodaj w pierwszej komórce następującą funkcję arytmetyczną:

In [5]:
x = 2
print(x*2)

4

7. Teraz dodaj funkcję zwracającą średnią arytmetyczną dwóch liczb, a następnie wywołaj:

In [6]:
def mean(a,b):
    return (a+b)/2

8. Użyjmy teraz funkcji średniej i wywołajmy funkcję z dwiema wartościami, 10 i 20. Wykonaj tą
komórkę. Co się dzieje? Funkcja zostaje wywołana i wypisana zostanie odpowiedź.

In [7]:
mean(10,20)

15.0

9. Musimy udokumentować tę funkcję. Teraz utwórz nową komórkę Markdown i edytuj tekst w pliku
Komórka Markdown dokumentująca działanie funkcji.

Funkcja średnia oblicza średnią arytmetyczną dwóch wartości.

Spróbuj użyć tagów HTML do sformatowania komórki Markdown. Aby zobaczyć efekt należy go „uruchomić” (Ctrl-Enter).

10. Następnie dołącz obraz z Internetu. Pomysł jest taki, że notatnik jest dokumentem, który powinien zarejestrować wszystkie części analizy, więc czasami musimy dołączyć diagram lub wykres z innych źródła wyjaśniające pewną kwestię.

![title3](3.png)

11. Teraz na koniec umieść wyrażenie matematyczne w LaTex w tej samej komórce Markdown.

Sample LaTex (you must use $$): $ c = \sqrt{a^2 + b^2} $

# Ćwiczenie 3: Odczyt danych za pomocą Pandas

Jak analityk może rozpocząć analizę danych bez danych? Musimy się nauczyć, jak uzyskać dane z pliku
źródło internetowe do naszego notatnika, abyśmy mogli rozpocząć analizę. Pokażmy, jak pandy
może odczytać dane CSV ze źródła internetowego, abyśmy mogli je przeanalizować:

1. Zaimportuj bibliotekę Pandas

In [8]:
import pandas as pd

2. Przeczytaj zbiór danych nobel.data. Przekonwertuj go na CSV. Aby odczytać plik CSV musimy skorzystać z funkcji read_csv(). Odczytuje plik i zwraca Pandas DataFrame.

In [9]:
df = pd.read_csv("nobel.csv", encoding='utf-8')

4. Użyj funkcji read_csv z pand i pokaż pierwsze wiersze wywołujące metodę head na DataFrame.

In [10]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

Pandy potrafią czytać więcej formatów:
• JSON
• Excela
• HTML
• HDF5
• Parkiet (z PyArrow)
• Bazy danych SQL
• Wielkie zapytanie Google
Spróbuj przeczytać inne formaty z pand, takie jak arkusze Excel.

Wybieranie danych: Aby wybrać kolumnę, po prostu użyj nazwy kolumny (projection):

In [11]:
df['category']

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

lub

In [12]:
df.category

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

Aby wybrać wiersze o podanej wartości atrybutu (selection)

In [13]:
df[df.category == "Peace"]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
9,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland
10,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN,1914-03-16,Bern,Switzerland
16,1903,Peace,The Nobel Peace Prize 1903,NaN,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN,1908-07-22,London,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1006,Individual,Dmitry Muratov,1961-00-00,Kubyshev (now Samara),USSR (now Russia),Male,NaN,NaN,NaN,NaN,NaN,NaN
983,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1018,Individual,Ales Bialiatski,1962-09-25,Vyartsilya Karelia,Russia,Male,NaN,NaN,NaN,NaN,NaN,NaN
984,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1019,Organization,Memorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1020,Organization,Center for Civil Liberties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN

Aby użyć operacji logicznych, np. wybierz wszystkie wiersze, które mają stan równy AK i lokalizację Nome, użyj operator &:

In [14]:
df[(df.category == "Peace") & (df.laureate_type == "Individual")]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
9,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland
10,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN,1914-03-16,Bern,Switzerland
16,1903,Peace,The Nobel Peace Prize 1903,NaN,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN,1908-07-22,London,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,2019,Peace,The Nobel Peace Prize 2019,"""for his efforts to achieve peace and internat...",1/1,981,Individual,Abiy Ahmed Ali,1976-08-15,Beshasha,Ethiopia,Male,NaN,NaN,NaN,NaN,NaN,NaN
970,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1005,Individual,Maria Ressa,1963-10-02,Manila,Philippines,Female,NaN,NaN,NaN,NaN,NaN,NaN
971,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1006,Individual,Dmitry Muratov,1961-00-00,Kubyshev (now Samara),USSR (now Russia),Male,NaN,NaN,NaN,NaN,NaN,NaN
983,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1018,Individual,Ales Bialiatski,1962-09-25,Vyartsilya Karelia,Russia,Male,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN

Wybieranie przy użyciu zakresu wierszy lub indeksu:

In [15]:
df.category[2]

'Medicine'

Wyświetl wiersze zaczynając od pierwszego (domyślnie wybieranych jest pięć pierwszych):

In [16]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [17]:
df.head(8)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of hist...",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN,1903-11-01,Charlottenburg,Germany

Pobierz listę nazw kolumn:

In [18]:
df.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

Wyświetl typy danych kolumn:

In [19]:
df.dtypes

year                     int64
category                object
prize                   object
motivation              object
prize_share             object
laureate_id              int64
laureate_type           object
full_name               object
birth_date              object
birth_city              object
birth_country           object
sex                     object
organization_name       object
organization_city       object
organization_country    object
death_date              object
death_city              object
death_country           object
dtype: object

# Ćwiczenie 4: Selekcja danych i metoda .loc

Jak widzieliśmy wcześniej, wybieranie danych, oddzielanie zmiennych oraz przeglądanie interesujących kolumn i wierszy jest fundamentalne dla procesu analizy. Powiedzmy, że chcemy przeanalizować promieniowanie z I-131 w stan Minnesota:

1. Zaimportuj biblioteki NumPy i Pandas, używając następującego polecenia w notatniku Jupyter

In [20]:
import numpy as np
import pandas as pd

2. Przeczytaj zbiór danych RadNet z EPA (Amerykańskiej Agencji Ochrony Środowiska), dostępny pod adresem projekt Socrata z pliku: RadNet_Laboratory_Analytics.csv

In [21]:
df = pd.read_csv('RadNet_Laboratory_Analysis.csv')

3. Zacznij od wybrania kolumny przy użyciu notacji ['<nazwa kolumny>']. Użyj kolumny Stan:

In [22]:
df['State'].head()

0    ID
1    ID
2    AK
3    AK
4    AK
Name: State, dtype: object

4. Teraz przefiltruj wybrane wartości w kolumnie, używając nazwy kolumny MN

In [23]:
df[df.State == "MN"]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
367,MN,St. Paul,04/08/2011,03/28/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
368,MN,St. Paul,04/22/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
380,MN,Welch,04/08/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
381,MN,Welch,06/01/2011,04/14/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
555,MN,St. Paul,04/04/2011,03/22/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,32.3,Non-detect,Non-detect,NaN,NaN,Non-detect
556,MN,St. Paul,04/10/2011,03/29/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
557,MN,Welch,04/04/2011,03/17/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,Non-detect,Non-detect,Non-detect,NaN,NaN,Non-detect
558,MN,Welch/510,04/13/2011,04/04/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,9.1,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

5. Wybierz więcej niż jedną kolumnę na warunek. Dodaj kolumnę Typ próbki do filtrowania:

In [24]:
df[(df.State == 'CA') & (df['Sample Type'] == 'Drinking Water')]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
305,CA,Los Angeles,04/10/2011,04/04/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.39,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
306,CA,Los Angeles,06/01/2011,04/12/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.18,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
356,CA,Richmond,04/09/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
357,CA,Richmond,06/01/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

6. Następnie wybierz stan MN i izotop I-131:

In [25]:
df[(df.State == "MN") ]["I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

7. To samo możemy zrobić łatwiej, stosując metodę .loc, filtrując według stanu i wybierając kolumnę
w tym samym wywołaniu .loc

In [26]:
df_rad=df
df_rad.loc[df_rad.State == "MN", "I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

Notatka:
Wynikiem filtru .loc jest seria, a nie ramka danych. To zależy od operacji i wyboru dokonanego w DataFrame, a nie, jest spowodowany tylko przez .loc . Ponieważ DataFrame może być rozumiana jako kombinacja serii 2D, wybór jednej kolumny zwróci serię. Aby zrobić zaznaczenie i nadal zwracaj DataFrame, użyj podwójnych nawiasów, np .:

In [27]:
df[['I-132']].head()

        I-132
0  Non-detect
1  Non-detect
2  Non-detect
3  Non-detect
4  Non-detect

Stosowanie funkcji do kolumny
Dane nigdy nie są czyste. Zawsze istnieją zadania czyszczenia, które należy wykonać, zanim zbiór danych będzie mógł zostać przeanalizowany. Jednym z najczęstszych zadań czyszczenia danych jest zastosowanie funkcji do kolumny, zmianę wartości na bardziej adekwatną. W naszym przykładowym zbiorze danych, gdy nie było stężenia zmierzona, wstawiono wartość niewykrytą. Ponieważ ta kolumna jest kolumną liczbową, analiza jej może stać się skomplikowanym. Możemy zastosować transformację w kolumnie, zmieniając ją z niewykrywanej na numpy.NaN, co ułatwia manipulowanie wartościami liczbowymi, wypełnianie innymi wartościami, np jako średnia i tak dalej.
Aby zastosować funkcję do więcej niż jednej kolumny, użyj metody Applymap, kierując się tą samą logiką co metoda stosowania. Na przykład inną typową operacją jest usuwanie spacji z ciągów. Ponownie, możemy użyć funkcji Apply i Applymap, aby naprawić dane. Funkcję możemy także zastosować do wierszy zamiast do kolumn, używając parametru osi (0 dla wierszy, 1 dla kolumn)

apply() method syntax sample (for all rows):
df – Pandas Dataframe

In [ ]:
df['column_name'].apply(<lambda function>)

applymap() method syntax sample (for all rows):

In [ ]:
df.loc[:, <[list_of_column_names]>]=df.loc[:,
[<list_of_column_names>]].applymap(<lambda function>)

# Ćwiczenie 5: Badanie typów danych

Przekształć typy danych w naszej przykładowej ramce DataFrame na prawidłowe typy za pomocą astype Pandas
funkcji. Wykorzystajmy te same dane, co w poprzednich ćwiczeniach.

1. Zaimportuj wymagane biblioteki.

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2. Przeczytaj dane.

In [30]:
df=pd.read_csv("RadNet_Laboratory_Analysis.csv")

3. Sprawdź aktualne typy danych za pomocą funkcji dtypes w DataFrame.

In [31]:
df.dtypes

State             object
Location          object
Date Posted       object
Date Collected    object
Sample Type       object
Unit              object
Ba-140            object
Co-60             object
Cs-134            object
Cs-136            object
Cs-137            object
I-131             object
I-132             object
I-133             object
Te-129            object
Te-129m           object
Te-132            object
dtype: object

4. Utwórz listę kolumn numerycznych

In [32]:
columns = df.columns
id_cols = ['State', 'Location', "Date Posted", 'Date Collected',
'Sample Type', 'Unit']
columns = list(set(columns)-set(id_cols))
columns

['Cs-136',
 'I-133',
 'I-132',
 'Cs-134',
 'Ba-140',
 'Cs-137',
 'Te-129',
 'Te-132',
 'Te-129m',
 'Co-60',
 'I-131']

5. Zastosuj funkcję lambda (lub funkcję zdefiniowaną przez użytkownika) do wszystkich kolumn numerycznych, aby zastosować wartość NaN

In [33]:
df.loc[:,columns] = df.loc[:,columns].applymap(lambda x: np.nan if ((x=="Non-detect")|(x=="ND")) else x)
df.loc[:,columns].head()

/tmp/ipykernel_4427/2397957895.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[:,columns] = df.loc[:,columns].applymap(lambda x: np.nan if

,Cs-136,I-133,I-132,Cs-134,Ba-140,Cs-137,Te-129,Te-132,Te-129m,Co-60,I-131
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.055
2,NaN,NaN,NaN,0.0057,NaN,0.0074,NaN,0.0043,NaN,NaN,0.067
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.096
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.22

6. Zmień typy danych datetime i to_numeric

In [35]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])
for col in columns:
    df[col] = pd.to_numeric(df[col])
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

7. Użyj metody astype, aby przekształcić kolumny, które nie są numeryczne, w typ kategorii

In [36]:
df['State'] = df['State'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Unit'] = df['Unit'].astype('category')
df['Sample Type'] = df['Sample Type'].astype('category')
df.dtypes

State                   category
Location                category
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type             category
Unit                    category
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

# Ćwiczenie 6. Agregacja i grupowanie

1. Zgrupuj DataFrame, korzystając z kolumny State.

In [ ]:
df.groupby('State')

2. Wybierz radionuklid Cs-134 i oblicz średnią wartość na grupę:

In [38]:
df.groupby('State')['Cs-134'].head()

/tmp/ipykernel_4427/2951075891.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('State')['Cs-134'].head()

0         NaN
1         NaN
2      0.0057
3         NaN
4         NaN
        ...
551    1.4000
552       NaN
555       NaN
574       NaN
575       NaN
Name: Cs-134, Length: 206, dtype: float64

3. Zrób to samo dla wszystkich kolumn, grupując według stanu i bezpośrednio stosując funkcję średniej

In [ ]:
df.groupby('State').mean().head()

4. Teraz pogrupuj według więcej niż jednej kolumny, korzystając z listy kolumn grupujących

In [40]:
df.groupby(['State','Location']).mean

/tmp/ipykernel_4427/2592696756.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['State','Location']).mean

5. Agreguj przy użyciu kilku operacji agregacji na kolumnę, stosując metodę agg. Użyj państwa
i kolumny lokalizacji:

In [42]:
df.groupby(['State', 'Location']).agg({'Cs-134':['mean', 'std'],'Te-129':['min', 'max']})

/tmp/ipykernel_4427/2387163851.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['State', 'Location']).agg({'Cs-134':['mean', 'std'],'Te-129':['min', 'max']})

                   Cs-134     Te-129
                     mean std    min max
State Location
AK    Albany          NaN NaN    NaN NaN
      Albany          NaN NaN    NaN NaN
      Albuquerque     NaN NaN    NaN NaN
      Anaheim         NaN NaN    NaN NaN
      Ashland         NaN NaN    NaN NaN
...                   ...  ..    ...  ..
WV    Welch/510       NaN NaN    NaN NaN
      West Chicago    NaN NaN    NaN NaN
      Wichita         NaN NaN    NaN NaN
      Wilmington      NaN NaN    NaN NaN
      Yaphank         NaN NaN    NaN NaN

[7332 rows x 4 columns]

# Ćwiczenie 7. Eksportowanie danych w różnych formatach

Po zastosowaniu wszystkich zmian w zbiorze danych (zmiana typów danych, zmiana niepożądanych wartości) możesz
chcieć zapisać swoją pracę. Wyeksportuj naszą przekształconą ramkę danych z odpowiednimi wartościami i kolumnami do formatu CSV za pomocą funkcja to_csv. Wyklucz indeks, używając indeksu=False, użyj średnika jako separatora sep=";", i
zakoduj dane jako UTF-8 encoding="utf-8":

In [43]:
df.to_csv('radiation_clean.csv', index=False, sep=';', encoding='utf-8')