# Ćwiczenie 1: Interakcja z powłoką Pythona przy użyciu IPythona - Polecenia

Rozpoczęcie pracy z powłoką Pythona jest proste. Wykonajmy następujące kroki, aby wejść w interakcję
z powłoka IPythona:

1. Aby uruchomić powłokę Pythona, wpisz w konsoli polecenie ipython:
> ipython
In [1]:

Wskazówka: Możesz użyć „ctrl-o”, aby dodać dodatkowe linie w pojedynczej komórce Ipythona.
Powłoka IPython jest teraz gotowa i czeka na dalsze polecenia. Najpierw wykonajmy proste ćwiczenie
rozwiązać problem sortowania za pomocą jednej z podstawowych metod sortowania, zwanej prostym wstawianiem.

2. W powłoce IPython skopiuj i wklej następujący kod:

In [41]:
import numpy as np
vec = np.random.randint(0, 100, size=5)
print(vec)

[87 25 34 44 52]

Now, the output for the randomly generated numbers will be similar to the following:
[23, 66, 12, 54, 98, 3]

3. Użyj poniższej logiki, aby wypisać elementy tablicy vec w kolejności rosnącej:

In [42]:
for j in np.arange(1, vec.size):
    v = vec[j]
    i = j
    while i > 0 and vec[i-1] > v:
        vec[i] = vec[i-1]
        i = i - 1
    vec[i] = v

print(vec)

[25 34 44 52 87]

Użyj polecenia print(vec), aby wydrukować wynik na konsoli

4. Teraz zmodyfikuj kod. Zamiast tworzyć tablicę składającą się z 5 elementów, zmień jej parametry tak, aby była tworzy tablicę z 20 elementami, używając strzałki w górę do edycji wklejonego kodu. Po zmianie odpowiedniej sekcji, użyj strzałki w dół, aby przejść na koniec kodu i naciśnij Enter, aby go wykonać.

In [43]:
import numpy as np
vec1 = np.random.randint(0, 100, size=20)
print(vec1)

[47 90  9 73 27  5 27 46  6 67 86 20 80 23 88 81 88 80  8 12]

In [44]:
for j in np.arange(1, vec1.size):
    v = vec1[j]
    i = j
    while i > 0 and vec1[i-1] > v:
        vec1[i] = vec1[i-1]
        i = i-1
    vec1[i] = v
print(vec1)

[ 5  6  8  9 12 20 23 27 27 46 47 67 73 80 80 81 86 88 88 90]

# Ćwiczenie 2: Pierwsze kroki z notatnikiem Jupyter

Wykonajmy następujące kroki, aby zademonstrować, jak rozpocząć wykonywanie prostych programów w pliku Notatnik Jupytera. Praca z notatnikiem Jupyter po raz pierwszy może być nieco myląca, ale
spróbujmy poznać jego interfejs i funkcjonalność.

Teraz uruchom serwer notatników Jupyter i pracuj nad nim, wykonując następujące kroki:
1. Aby uruchomić serwer notebooków Jupyter, uruchom na konsoli następującą komendę:
> notatnik jupytera

2. Po pomyślnym uruchomieniu lub zainstalowaniu Jupytera otwórz okno przeglądarki i
przejdź do http://localhost:8888, aby uzyskać dostęp do notesu

3. Powinieneś zobaczyć notatnik podobny do tego pokazanego na poniższym zrzucie ekranu:

![title](1.png)

4. Następnie w prawym górnym rogu kliknij Nowy i wybierz z listy Python 3

![title1](2.png)

6. Teraz w nowo wygenerowanej komórce dodaj w pierwszej komórce następującą funkcję arytmetyczną:

In [45]:
x = 2
print(x*2)

4

7. Teraz dodaj funkcję zwracającą średnią arytmetyczną dwóch liczb, a następnie wywołaj:

In [53]:
def mean(a,b):
    return (a+b)/2

8. Użyjmy teraz funkcji średniej i wywołajmy funkcję z dwiema wartościami, 10 i 20. Wykonaj tą
komórkę. Co się dzieje? Funkcja zostaje wywołana i wypisana zostanie odpowiedź.

In [49]:
mean(10,20)

15.0

9. Musimy udokumentować tę funkcję. Teraz utwórz nową komórkę Markdown i edytuj tekst w pliku
Komórka Markdown dokumentująca działanie funkcji.

Funkcja średnia oblicza średnią arytmetyczną dwóch wartości.

Spróbuj użyć tagów HTML do sformatowania komórki Markdown. Aby zobaczyć efekt należy go „uruchomić” (Ctrl-Enter).

10. Następnie dołącz obraz z Internetu. Pomysł jest taki, że notatnik jest dokumentem, który powinien zarejestrować wszystkie części analizy, więc czasami musimy dołączyć diagram lub wykres z innych źródła wyjaśniające pewną kwestię.

![title3](3.png)

11. Teraz na koniec umieść wyrażenie matematyczne w LaTex w tej samej komórce Markdown.

Sample LaTex (you must use $$): $ c = \sqrt{a^2 + b^2} $

# Ćwiczenie 3: Odczyt danych za pomocą Pandas

Jak analityk może rozpocząć analizę danych bez danych? Musimy się nauczyć, jak uzyskać dane z pliku
źródło internetowe do naszego notatnika, abyśmy mogli rozpocząć analizę. Pokażmy, jak pandy
może odczytać dane CSV ze źródła internetowego, abyśmy mogli je przeanalizować:

1. Zaimportuj bibliotekę Pandas

In [2]:
import pandas as pd

2. Przeczytaj zbiór danych nobel.data. Przekonwertuj go na CSV. Aby odczytać plik CSV musimy skorzystać z funkcji read_csv(). Odczytuje plik i zwraca Pandas DataFrame.

In [3]:
df = pd.read_csv("nobel.csv", encoding='utf-8')

4. Użyj funkcji read_csv z pand i pokaż pierwsze wiersze wywołujące metodę head na DataFrame.

In [4]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

Pandy potrafią czytać więcej formatów:
• JSON
• Excela
• HTML
• HDF5
• Parkiet (z PyArrow)
• Bazy danych SQL
• Wielkie zapytanie Google
Spróbuj przeczytać inne formaty z pand, takie jak arkusze Excel.

Wybieranie danych: Aby wybrać kolumnę, po prostu użyj nazwy kolumny (projection):

In [6]:
df['category']

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

lub

In [7]:
df.category

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
995     Chemistry
996     Chemistry
997    Literature
998         Peace
999     Economics
Name: category, Length: 1000, dtype: object

Aby wybrać wiersze o podanej wartości atrybutu (selection)

In [8]:
df[df.category == "Peace"]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
9,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland
10,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN,1914-03-16,Bern,Switzerland
16,1903,Peace,The Nobel Peace Prize 1903,NaN,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN,1908-07-22,London,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1006,Individual,Dmitry Muratov,1961-00-00,Kubyshev (now Samara),USSR (now Russia),Male,NaN,NaN,NaN,NaN,NaN,NaN
983,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1018,Individual,Ales Bialiatski,1962-09-25,Vyartsilya Karelia,Russia,Male,NaN,NaN,NaN,NaN,NaN,NaN
984,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1019,Organization,Memorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1020,Organization,Center for Civil Liberties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN

Aby użyć operacji logicznych, np. wybierz wszystkie wiersze, które mają stan równy AK i lokalizację Nome, użyj operator &:

In [11]:
df[(df.category == "Peace") & (df.laureate_type == "Individual")]

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
9,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland
10,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN,1914-03-16,Bern,Switzerland
16,1903,Peace,The Nobel Peace Prize 1903,NaN,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN,1908-07-22,London,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,2019,Peace,The Nobel Peace Prize 2019,"""for his efforts to achieve peace and internat...",1/1,981,Individual,Abiy Ahmed Ali,1976-08-15,Beshasha,Ethiopia,Male,NaN,NaN,NaN,NaN,NaN,NaN
970,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1005,Individual,Maria Ressa,1963-10-02,Manila,Philippines,Female,NaN,NaN,NaN,NaN,NaN,NaN
971,2021,Peace,The Nobel Peace Prize 2021,"""for their efforts to safeguard freedom of exp...",1/2,1006,Individual,Dmitry Muratov,1961-00-00,Kubyshev (now Samara),USSR (now Russia),Male,NaN,NaN,NaN,NaN,NaN,NaN
983,2022,Peace,The Nobel Peace Prize 2022,"""The Peace Prize laureates represent civil soc...",1/3,1018,Individual,Ales Bialiatski,1962-09-25,Vyartsilya Karelia,Russia,Male,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN

Wybieranie przy użyciu zakresu wierszy lub indeksu:

In [12]:
df.category[2]

'Medicine'

Wyświetl wiersze zaczynając od pierwszego (domyślnie wybieranych jest pięć pierwszych):

In [13]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [14]:
df.head(8)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of hist...",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN,1903-11-01,Charlottenburg,Germany

Pobierz listę nazw kolumn:

In [15]:
df.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

Wyświetl typy danych kolumn:

In [16]:
df.dtypes

year                     int64
category                object
prize                   object
motivation              object
prize_share             object
laureate_id              int64
laureate_type           object
full_name               object
birth_date              object
birth_city              object
birth_country           object
sex                     object
organization_name       object
organization_city       object
organization_country    object
death_date              object
death_city              object
death_country           object
dtype: object